@import url("/static/css/root.css");

* {
  margin: 0px;
  padding: 0px;
  transition: 0.3s all ease;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.container-fluid {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.top-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background: var(--fifth-color-light-mode);
}

.top-bar .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.top-bar .column {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
}

.top-bar .column:nth-child(2) {
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 18px;
}

.top-bar .column:nth-child(2) .hideshow-lateral {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  border-radius: 8px;
  gap: 5px;
  background: var(--fourth-color-light-mode);
  margin-right: 5px;
}

.top-bar .column:nth-child(2) .hideshow-lateral:hover {
  background: var(--sixth-color-light-mode);
}

.top-bar img {
  width: 80px;
  height: 80px;
}

.top-bar .label-logo {
  font-size: 22px;
  font-style: italic;
  color: var(--third-color-light-mode);
}

.lateral-bar {
  width: 240px;
  min-width: 240px;
  height: 100%;
  padding: 10px;
  background: var(--fourth-color-light-mode);
}

.content-section {
  flex: 1;
}

.lateral-bar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0px;
  height: auto;
  gap: 15px;
}

ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  background: var(--second-color-light-mode);
}

li:hover {
  cursor: pointer;
  background: var(--sixth-color-light-mode);
}

li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: inherit;
  text-decoration: none;
  color: black;
  gap: 5px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

@media (max-width: 768px) {
  .container-fluid {
    align-items: center;
    justify-content: center;
  }
  .lateral-bar {
    position: fixed;
    top: 60px;
    left: 0;
    height: calc(100vh - 60px);
    width: 240px;
    z-index: 1000;
    transform: translateX(-100%);
  }

  .lateral-bar.active {
    transform: translateX(0);
  }

  .content-section {
    width: 100%;
  }

  .content-section.blurred {
    filter: blur(4px);
    pointer-events: none;
    user-select: none;
  }
}
