@import url("/static/css/root.css");

* {
  transition: all 0.3s ease;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  min-height: 100vh;
  background: var(--fourth-color-light-mode);
}

.container-fluid .login-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1000px;
  max-width: 100%;
  padding: 10px;
  border-radius: 10px;
  gap: 15px;
  color: var(--white-color);
  background: var(--fifth-color-light-mode);
}

.login-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 15px;
}

form button {
  width: 80%;
  height: 45px;
  border-radius: 12px;
  border: none;
  background-color: var(--third-color-light-mode);
}

form button:hover {
  background-color: var(--sixth-color-light-mode);
}

button.btn-recover {
  text-underline-position: auto;
  outline: none;
  border: none;
  color: var(--white-color);
  width: auto;
  height: auto;
  background: none;
  text-decoration: underline;
  text-underline-position: auto;
}

button.btn-recover:hover {
  background-color: none;
}

form a {
  color: var(--white-color);
}

form .form-group {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 5px;
}

.form-group input {
  width: 100%;
  height: 45px;
  border-radius: 8px;
  padding: 10px;
}

.form-group input:focus {
  outline: none;
  border: none;
  box-shadow: 10px 10px var(--third-color-light-mode);
}

.modal-header,
.modal-footer {
  background: var(--fifth-color-light-mode);
  color: var(--white-color);
}

.modal .modal-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.modal-footer button {
  max-width: 40%;
}

.modal .btn-send {
  background: var(--fourth-color-light-mode);
}

.modal .btn-send:hover {
  color: var(--black-color);
  background: var(--sixth-color-light-mode);
}

@media (max-width: 768px) {
  .container-fluid {
    margin: 0px;
    max-width: 100%;
    padding: 0px 15px;
  }

  .container-fluid .login-container {
    flex-direction: column;
    max-width: 100%;
  }

  .logo-section img {
    width: 70px;
    height: 70px;
    scale: 200%;
  }

  .login-container form {
    max-width: 100%;
  }
}
