:root {
  --primary-color-light-mode: #cdb28a;
  --second-color-light-mode: #f9f4e3;
  --third-color-light-mode: #d4ddb1;
  --fourth-color-light-mode: #b1ba8e;
  --fifth-color-light-mode: #7a6448;
  --button-hover-color-light-mode: #ff67679c;
  --white-color: #ffffff;
}
