.container {
  margin: 0px;
  padding: 0px 20px;
}

.container .header-row {
  display: flex;
  justify-content: space-between;
}

.header-row .col-md-12 {
  display: flex;
  justify-content: space-between;
}

.header-row .col-md-12 h2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.header-row .col-md-12 .btn-new-t {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  border-radius: 12px;
  gap: 5px;
  background: var(--fourth-color-light-mode);
}

.header-row .col-md-12 .btn-new-t:hover {
  background: var(--sixth-color-light-mode);
}

.overview .col-md-4 .shadow-sm,
.in-out .col-md-12 .shadow-sm {
  display: flex;
  flex-direction: column;
  max-height: 250px;
  gap: 5px;
}

.overview .shadow-sm p {
  font-size: 15px;
  color: var(--gray-weak-color-light-mode);
  margin: 0px;
}

.overview .shadow-sm input {
  outline: none;
  border: none;
  background: none;
  width: 100%;
  font-size: 32px;
  font-weight: 500;
}

.overview .shadow-sm input.gains-overview {
  color: var(--fourth-strong-color-light-mode);
}

.overview .shadow-sm input.expenses-overview {
  color: var(--sixth-strong-color-light-mode);
}

.modal-header.gain,
.modal-footer.gain {
  color: var(--black-color);
  background: var(--fourth-strong-color-light-mode);
}

.modal-header.expense,
.modal-footer.expense {
  color: var(--black-color);
  background: var(--sixth-strong-color-light-mode);
}

form .modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal-footer button {
  width: 30%;
}

form .modal-footer .btn-save-trans {
  color: var(--white-color);
  background: var(--fifth-color-light-mode);
}

.modal-footer .btn-save-trans:hover {
  background: var(--fifth-strong-color-light-mode);
}

.in-out p.pb-1 {
  font-weight: 500;
  margin-bottom: 0px;
}

.in-out .transac-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px 10px 10px;
  overflow: auto;
}

.transac-section::-webkit-scrollbar {
  width: 10px;
}

.transac-section::-webkit-scrollbar-track {
  background: var(--fourth-color-light-mode);
  border-radius: 5px;
}

.transac-section::-webkit-scrollbar-thumb {
  background: var(--fifth-color-light-mode);
  border-radius: 5px;
}

.transac-section::-webkit-scrollbar-thumb:hover {
  background: var(--sixth-color-light-mode);
}

.transac-section .inoutflow-row {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 14px;
  border-bottom: 1px solid var(--gray-weak-color-light-mode);
}

.inoutflow-row .col-md-10 {
  display: flex;
  flex-direction: row;
}

.inoutflow-row .col-md-2 {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.inoutflow-row .col-md-2 p {
  display: flex;
}

.inoutflow-row p {
  margin: 10px 0px;
}

.amount-redeemed {
  outline: none;
  border: none;
  background: none;
  field-sizing: content;
}

.gain {
  color: var(--fourth-strong-color-light-mode);
}

.expense {
  color: var(--sixth-strong-color-light-mode);
}

.transac-date {
  color: var(--fifth-color-light-mode);
}

.p-nocontent {
  color: var(--gray-weak-color-light-mode);
  font-style: italic;
}
