{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="/static/css/reports.css" /> {% endblock %} {% block
title %} Reports {% endblock %} {% block content %}
<div class="container">
  <div class="row mt-3">
    <div class="col-md-12">
      <h2><i class="bi bi-file-ruled"></i> Reports this month</h2>
    </div>
  </div>

  <div class="shadow-sm mt-3 bg-body-tertiary mb-5 p-3 rounded">
    <div class="row">
      <div class="col-md-12 column-p">
        <p>
          See your summary highlights, get insights, transactions history,
          expenses percentages, wish list and more
        </p>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-6 column">
        <h6>Click to get your transactions monthly report</h6>
      </div>
      <div class="col-md-6 column">
        <a href="/generate_report" class=""
          ><i class="bi bi-cloud-arrow-down"></i> Download
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block content_scripts %} {% endblock %}
